@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-outfit text-primary bg-white overflow-x-hidden leading-relaxed;
    }
}

@layer components {
    .nav-blur {
        @apply bg-white md:bg-white/80 md:backdrop-blur-md border-b border-gray-100;
    }

    .reveal {
        @apply opacity-0 translate-y-8 transition-all duration-700 ease-out;
    }

    .reveal.active {
        @apply opacity-100 translate-y-0;
    }
}

/* Custom Animations */
@keyframes float {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(2deg);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.logo-track {
    animation: scroll 40s linear infinite;
    width: max-content;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(10px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes flyAway {
    0% {
        transform: translate(0, 0) rotate(0);
        opacity: 1;
    }

    20% {
        transform: translate(-5px, 5px) rotate(-10deg);
        opacity: 1;
    }

    100% {
        transform: translate(100px, -100px) rotate(10deg);
        opacity: 0;
    }
}

.animate-plane {
    display: inline-block;
    animation: flyAway 1s forwards cubic-bezier(0.1, 0.5, 0.1, 1);
}